<div class="row recipe">
    <div class="col-md-12">

        <div class="modal-header">
            <a href="#" ng-click="$close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <h3>Naujas receptas</h3>
        </div>
        <div class="modal-body">
            {{ form(form) }}
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

                    {#{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form) }}
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(form.name, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                <div class="col-sm-6">
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control input-md'} }) }}
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                {{ form_label(form.image, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                <div class="col-sm-6">
                                    {{ form_widget(form.image, { 'attr': {'class': 'form-control input-md'} }) }}
                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                {{ form_label(form.instructions, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                <div class="col-sm-6">
                                    {{ form_widget(form.instructions, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default'} }) }}
                                </div>
                            </div>

                        </fieldset>
                    {{ form_end(form) }}#}
