{% form_theme form "@Recipe/AddRecipe/formtpl.html.twig" %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}

{{ form_label(form.images) }}
<div id="form_images" data-prototype="{{ form_widget(form.images.vars.prototype.name)|e('html_attr') }} {{ form_widget(form.images.vars.prototype.file)|e('html_attr') }}">
    <ul>
    </ul>
    <a href="#" id="img_prot" class="add_tag_link" ng-click="add('image')">Pridﾄ葉i</a>
</div>



{{ form_label(form.ingredients) }}
<div id="form_ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
    <ul>
    </ul>
    <a href="#" id="ing_prot" class="add_tag_link" ng-click="add('ingredient')">Pridﾄ葉i</a>
</div>

    {{ form_row(form.instructions) }}
    {{ form_row(form.save) }}


<script>
/*    var $collectionHolder;
    var $collectionHolder1;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" id="img_prot" class="add_tag_link">Pridﾄ葉i</a>');
    var $addTagLink1 = $('<a href="#" id="ing_prot" class="add_tag_link">Pridﾄ葉i</a>');
    var $newLinkLi = $('<div></div>').append($addTagLink);
    var $newLinkLi1 = $('<div></div>').append($addTagLink1);

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
    }

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('#form_images');
        $collectionHolder1 = $('#form_ingredients');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);
        $collectionHolder1.append($newLinkLi1);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $collectionHolder1.data('index', $collectionHolder1.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });

        $addTagLink1.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder1, $newLinkLi1);
        });


    });*/

</script>