<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
    <title>{% block title %}IcyFood{% endblock %}</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        {% stylesheets
        'bundles/recipe/css/ng-tags-input.min.css'
        'bundles/recipe/css/ng-tags-input.bootstrap.min.css'
        'bundles/recipe/css/*'
        'bundles/recipe/css/style.css'
        'bundles/recipe/css/loading-bar.css'
        filter='cssrewrite'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
        '@RecipeBundle/Resources/public/js/jquery.min.js'
        '@RecipeBundle/Resources/public/js/bootstrap.min.js'
        '@RecipeBundle/Resources/public/js/angular.min.js'
        '@RecipeBundle/Resources/public/js/imagesloaded.min.js'
        '@RecipeBundle/Resources/public/js/angular-route.min.js'
        '@RecipeBundle/Resources/public/js/ng-tags-input.min.js'
        '@RecipeBundle/Resources/public/js/ui-bootstrap-tpls-0.11.2.min.js'
        '@RecipeBundle/Resources/public/js/app/app.js'
        '@RecipeBundle/Resources/public/js/app/controllers/home-controller.js'
        '@RecipeBundle/Resources/public/js/app/controllers/nav-controller.js'
        '@RecipeBundle/Resources/public/js/app/services/recipesFactory.js'
        '@RecipeBundle/Resources/public/js/masonry.min.js'
        '@RecipeBundle/Resources/public/js/angular-masonry.min.js'
        '@RecipeBundle/Resources/public/js/ng-infinite-scroll.js'
        '@RecipeBundle/Resources/public/js/angular-ui-router.js'
        '@RecipeBundle/Resources/public/js/fb.js'
        '@RecipeBundle/Resources/public/js/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body class="">
<div id="fb-root"></div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('recipe_homepage') }}">IcyFood</a>
            </div>
            <div class="navbar-collapse collapse pull-right" ng-controller="navController">
                <ul class="nav navbar-nav">
                    <li class="{%verbatim%}{{ isActive('/') }}{%endverbatim%}"><a href="{{ path('recipe_homepage') }}">Rask receptą</a></li>
                    <li class="{%verbatim%}{{ isActive('/naujas') }}{%endverbatim%}"><a href="{{ path('new_recipe') }}">Įkelk receptą</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div><!-- container end-->
    </nav>
    
    <!-- <div ng-view ng-cloak class="ng-cloak"></div> -->
    <div ui-view></div>

<script type="text/javascript">
$('.tags-list-botton').simplebar();
</script>
</body>
</html>
