{% extends '::base.html.twig' %}
{% block body %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#search-ingredient").tokenInput("{{ path('search_ingredient') }}", {
      preventDuplicates: true,
      minChars: 3,
      onAdd: function(item){
        var scope = angular.element($("#recipe-list")).scope();
        scope.$apply(function(){
        scope.search = item.name;
        });
      },
      onDelete: function (){ 
        var phrases = new Object();
        $('.panel-body').each(function(){
          var phrase = '';
          $(this).find('li>p').each(function(){
            var current = $(this);
            if(current.children().size() > 0) {return true;}
            phrase += $(this).text();
          });
          phrases.name = phrase;
        });
        var scope = angular.element($("#recipe-list")).scope();
        scope.$apply(function(){
          scope.search = phrases;
        });
      }
    });//#search-ingridient
  });//document ready
</script>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div ng-app="recipeApp">
  <div ng-controller="recipeController">
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Mano ingridientai</div>
      <div class="panel-body">
        <ul class="selectedList"></ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <form class="form-horizontal" role="form">
      <div class="input-group">
        <input class="form-control" type="text" id="search-ingredient" name="ingredients[]">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
  <div class="row" >
    <div class="col-md-4" id="recipe-list" ng-repeat="recipe in recipes">
     <p ng-repeat="image in recipe.images track by $index">
        <a href="show/{%verbatim%}{{recipe.id}}{%endverbatim%}"><img src="{%verbatim%}{{image}}{%endverbatim%}"></a>
      </p>
    <h4><a href="show/{%verbatim%}{{recipe.id}}{%endverbatim%}">{%verbatim%}{{recipe.name}}{%endverbatim%}</a></h4>
    <ul class="list-inline list-ingredients">
    <li ng-repeat="ingredient in recipe.ingredients track by $index">{%verbatim%}{{ingredient}}{%endverbatim%}</li>
    </ul>
  </div><!-- col -->
  </div><!-- row-->
</div></div>
{% endblock %}