{% extends '::base.html.twig' %}
{% block body %}
<div ng-app="tagApp" ng-controller="tagController">
	<div class="row">
  		<div class="col-sm-4">
    		<div class="panel panel-default">
      			<div class="panel-heading">Mano ingridientai</div>
      			<div class="panel-body">  
              <ul>
                <li>
      				{%verbatim%}{{tags}}{%endverbatim%}
                </li>
              </ul>    				
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-8">
    		<div class="input-group">
				<tags-input ng-model="tags" class="ti-input-lg">
      				<auto-complete source="loadTags($query)"></auto-complete>
    			</tags-input>
    			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			</div>
  		</div>
	</div>
	<div class="row" ng-controller="recipeController">
    <div class="col-md-4" id="recipe-list" ng-repeat="recipe in recipes | filterByTags:tags">
    	<p ng-repeat="image in recipe.images track by $index">
        <a href="show/{%verbatim%}{{recipe.id}}{%endverbatim%}"><img src="{%verbatim%}{{image}}{%endverbatim%}"></a>
      </p>
    <h4><a href="show/{%verbatim%}{{recipe.id}}{%endverbatim%}">{%verbatim%}{{recipe.name}}{%endverbatim%}</a></h4>
    <ul class="list-inline list-ingredients">
    <li ng-repeat="ingredient in recipe.ingredients track by $index">{%verbatim%}{{ingredient.name}}{%endverbatim%}</li>
    </ul>
     
  </div>
</div>
{%endblock%}